@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@theme {
  --font-space: "Space Grotesk", "sans-serif";
  --font-nunito: "Nunito Sans", "sans-serif";
  --color-primary: #00d2ff;
  --color-secondary: #2d2d2d;
  --color-accent: #666666;
  --shadow-cardShadow: 0px 10px 30px 0px #02b6dc26;
  --shadow-arrowShadow: 0px 4px 15px 0px #0000001a;
}
